@model Hospital_Management_System.Models.Visit

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

@Html.Partial("_Details")
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VisitID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>