@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Hospital Home Page</h1>
    @Html.ActionLink("Home", "", "home") |
    @Html.ActionLink("Doctors", "", "doctors") |
    @Html.ActionLink("Patients", "", "patients") |
    @Html.ActionLink("Visits", "", "visits")
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
